/* GENERAL STYLING */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --font-primary: 'Paytone One', sans-serif;
}

body {
    background-color: #223351;
}

/* HEADER STYLES */

header {
    text-align: center;
}

h1 {
    font-family: var(--font-primary);
    font-size: 100px;
    color: #ba3e3a;
    -webkit-text-fill-color: #ba3e3a; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    margin: 0.25em;
}

/* GAME BOARD STYLES */

.main__wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
}

.board {
    grid-column: 3/6;
    border: 2px solid black;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 1.5em;
    background-color: #f3a941;
    margin: 0 auto;
    
}

/* GAME STATS */

.game__stats-wrapper {
    grid-column: 6/8;
    /* border: 2px solid lightblue; */
    color: white;
    font-family: var(--font-primary);
    font-weight: lighter;
    letter-spacing: 0.1em;

}

/* USED WORDS */

.used__words-wrapper {
    grid-column: 2/3;
    font-family: var(--font-primary);
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

/* LETTER STYLES */

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    max-height: 100px;
    padding: 0.25em;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 250%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    background-color: white;
    opacity: 0.8;
}

.letter:focus {
    outline: #ba3e3a solid 2px;
}

.clicked {
    background-color: grey;
    opacity: 0.8;
}

/* ATTEMPT DISPLAY STYLING */

.attempt__display-wrapper {
    text-align: center;
    margin-top: 3em;
}

.attempt__display {
    height: 80px;
    border: 2px solid white;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 0.25em;
    color: white;
    font-family: var(--font-primary);
    font-size: 2em;
}

.attempt__display-btn {
   margin: 1em;
   padding: 0.5em 1.25em;
   border-radius: 15px;
   border: none;
   background-color: white;
   font-weight: bolder;
   font-size: 1.5em;
   cursor: pointer;
}

.attempt__display-btn:hover,
.attempt__display-btn:focus {
    opacity: 0.7;
}