/* GENERAL STYLING */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --font-primary: 'Paytone One', sans-serif;
}

body {
    background-color: #223351;
}

/* HEADER STYLES */

header {
    text-align: center;
}

h1 {
    font-family: var(--font-primary);
    font-size: 100px;
    color: #ba3e3a;
    -webkit-text-fill-color: #ba3e3a; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
}

/* GAME BOARD STYLES */

.board {
    border: 2px solid black;
    border-radius: 25px;
    width: 30%;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 1.5em;
    background-color: #f3a941;
    margin: 0 auto;
}

/* LETTER STYLES */

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    max-height: 100px;
    padding: 0.25em;
    text-transform: uppercase;
    font-size: 250%;
}

/* ATTEMPT DISPLAY STYLING */

.attempt__display-wrapper {
    margin-top: 4rem;
    text-align: center;
}

.attempt__display {
    height: 100px;
    border: 2px solid white;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}