/* GENERAL STYLING */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --font-primary: 'Paytone One', sans-serif;
}

body {
    background-color: #223351;
}

/* HEADER STYLES */

header {
    text-align: center;
}

h1 {
    font-family: var(--font-primary);
    font-size: 100px;
    color: #ba3e3a;
    -webkit-text-fill-color: #ba3e3a; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    margin: 0;
    padding-top: 0;
}

/* GAME BOARD STYLES */

.main__wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.board {
    grid-column: 3/6;
    grid-row: 1/3;
    border: 2px solid black;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 1.5em;
    background-color: #f3a941;
    margin: 0 auto;
    
}

/* GAME STATS */

.game__stats-wrapper {
    grid-column: 6/7;
    grid-row: 1/2;
    border: 2px solid lightblue; 
    color: white;
    font-family: var(--font-primary);
    font-weight: lighter;
    letter-spacing: 0.1em;

}

/* FOUND WORDS */

.found__words-wrapper {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100px;
    font-family: var(--font-primary);
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.1em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.found__words-list {
    font-weight: lighter;
    font-size: 2rem;
}

/* LETTER STYLES */

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    max-height: 100px;
    padding: 0.25em;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 250%;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    background-color: white;
    opacity: 0.8;
}

.letter:focus {
    outline: #ba3e3a solid 2px;
}

.clicked {
    background-color: grey;
    opacity: 0.8;
}

/* ATTEMPT DISPLAY STYLING */

.attempt__display-wrapper {
    grid-column: 3/6 ;
    text-align: center;
    margin-top: 2em;
}

.attempt__display {
    height: 50px;
    border: 2px solid white;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-family: var(--font-primary);
    font-size: 1.5em;
}

.attempt__display-btn {
   grid-column: 4/5;
   margin: 1em;
   padding: 0.5em 2em;
   border-radius: 15px;
   border: none;
   background-color: white;
   font-weight: bolder;
   font-size: 1.5em;
   cursor: pointer;
}

.attempt__display-btn:hover,
.attempt__display-btn:focus {
    opacity: 0.7;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
    h1 {
        font-size: 50px;
        -webkit-text-stroke-width: 2px;
    }

    .game__stats-wrapper {
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: 0.8em;

    }
    .found__words-wrapper {
        grid-column: 1/2;
        grid-row: 2/4;
        font-size: 0.75em;
        width: 100%;
    }
    .found__words-list {
        font-size: 1.25rem;
    }
}